
:root {
    --bg: #f9ffe8;
    --red-bg:#F54E56;
    --green-bg: #BED628;
    --green-bg-2: #BBD220;
    --gree-dark-bg: #6c802f;
    --white-bg: #ffffff; 

    --text-color: #494848;
    --yellow-text: #F9FFE8;
    --white-text: #ffffff; 
}

$fontFamilyBebasNeue: 'Bebas Neue', cursive, sans-serif !default;
$fontFamilyRoboto: 'robotobold', sans-serif !default;

